/* Align h2 and span next to each other in the .zone_card div */
.zone_card {
    justify-content: space-between; /* Optional: Adds space between h2 and span */
    flex-direction: row !important;
    cursor: pointer;
    margin: 5px;
}

.zone_card.disabled{
    cursor: default !important;
}

.zone_card h2 {
    margin: 0; /* Removes default margin for better alignment */
    font-size: large;
}

.zone_card span {
    margin: 0; /* Ensures no extra spacing */
}


#filter-container *{
    margin-right: 5px;
    /* display: flow-root; */
}

#filter-container {
    /* display: list-item; */
    /* margin-bottom: 14px; necessary so that the main div doesnt overlap with the filter-container */
}

#filter-container #settings-button{
    /* float:right; */
}