.grid {
    max-height: 87vh; /* Set a maximum height */
    display: grid;
    grid-template-columns: repeat(424, 1fr); /* Match the grid to the image's resolution */
    grid-template-rows: repeat(600, 1fr);
    background-size: contain; /* Ensure the image scales proportionally */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center; /* Center the image */
    margin: auto; /* Center the grid horizontally */
}

@media only screen and (min-width: 1400px) {
    /* Laptop / Computer */
    .grid{
        margin:0;
    }
  }

.grid div {
    border-radius: 2.5px;
    transition-duration: .5s;
    transition-property: background-color;
    /* tran */
}

.grid div {
    /* TAKEN SEAT */
    cursor: default;
    background-color: rgba(0, 0, 0, 0.604);
}

.grid .free {
    /* FREE SEAT */
    background-color: rgba(0, 0, 0, 0);
}
.grid.selectable .free{
    cursor: pointer;
}


.grid.selectable .free:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.grid.selectable .selected {
    background-color: #00ff1a73 !important;
}

.grid.selectable .selected:hover {
    background-color: #00ff1ac5 !important;
}

