h1 { font-size: 20px !important; }
h2 { font-size: 18px !important; }
h3 { font-size: 18px !important; }
h4 { font-size: 18px !important; }
h5 { font-size: 16px !important; font-weight: bold !important; }
h6 { font-size: 16px !important; }