name: Release

on:
  workflow_run:
    workflows: ["Build and Version Bump"]  # the name of the workflow in build.yml
    types:
      - completed
  
permissions: # Give write permissions to the action so that it can create a release
  contents: write

jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Fetch all tags
        run: git fetch --tags

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Build artifacts
        run: python build.py

      - name: Get latest tag
        id: get_tag
        run: echo "tag=$(git describe --tags --abbrev=0)" >> "$GITHUB_OUTPUT"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get_tag.outputs.tag }}
          name: Release ${{ steps.get_tag.outputs.tag }}
          files: |
            dist/KURT_PRO_userscript.user.js
            dist/KURT_PRO_chrome_extention.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}